<div class="row">
  <div class="col-md-6">
    <img class="couple" src="../../../assets/images/original-couple.jpg">
  </div>
  <div class="col-md-6 first-section-text">
    <h1>Poznaj swojego partnera!</h1>
    <form class="form-inline hidden-md-down">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/register">
        Zarejestruj się
      </button>
      <p>Rejestrując się wyrażasz zgodę na naszę <u>Warunki korzystania z usługi,</u> <br>
      <u>Polityka prywantości</u> oraz <u>Polityka cookies</u></p>
    </form>
  </div>
  </div>

